
<!--		 main  Features block-->
<section class="oe_container oe_dark lead" style="padding-top:10px;">
														<!--				main heading /title-->
		<h2> 
			<font>
				<p class="text-primary text-center" style="color:#004460;" ><b>Create Purchase Order From Sale order</b>
			</font>
		</h2> 
	<div class="oe_row">    
    	<div class="oe_span12">
        	<div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

<!--												first block main heading-->
        		<div class="panel-heading" style="background-color:#004460;">
        			<h3 class="panel-title" style="font-size: 25px;"  >
						<b> Virzoteck Software and Solutions(virzoteck@gmail.com)</b>
					</h3>
       			 </div>
            	<div class="panel-body">
<!--									first block sub heading 1-->
            	<div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i> 
						<b style="color:white;"> Features </b>
				</div>
<!--						first block sub contain 2-->
           		<ul class="list-unstyled ">
           		 <li> <i class="fa fa-hand-o-right text-primary"></i>Convert Sale Order into Purchase Order with single click.</b></li>
           		 
           		 <li> <i class="fa fa-hand-o-right text-primary"></i>Fast access to created Purchase Order</b></li>
                         
                         <li> <i class="fa fa-hand-o-right text-primary"></i>Transfer and easily find important Sale Order data</b></li>
                         <li> <i class="fa fa-hand-o-right text-primary"></i>Easily configurable in Sale settings
</b></li>


            </ul>
          </div>
        </div>
    </div>
</div>
</section>

<!--					setup block -->
<section class="oe_container oe_dark lead">
	<div class="oe_row">    
    	<div class="oe_span12">
    		<div class="panel panel-success" id="wkid2" style="border-color:#004460;">
   				 <div class="panel-heading" style="background-color:#004460;">
   					 <h3 class="panel-title" style="font-size: 25px;">
						<i class="fa fa-cogs" style="color:white;"></i> 
						<b style="color:white;">Setup &amp; Configure</b> 
					</h3>
    			</div>  
       			<div class="panel-body">
        		<div class="alert alert-success" style="padding:1px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-cog" style="color:white;"></i> 
<!--															secon block heading subtitle 1-->
						<b style="color:white;">From Setting select Purchase Order</b>
				</div>    
			   
       			<p>
					<img class="oe_picture oe_screenshot" src="1.png" >
				</p>
                                   <div class="alert alert-success" style="padding:8px;background-color:#1ab2ff;">
					<i class="fa fa-cog" style="color:white;"></i> 
<!--															secon block heading subtitle 1-->
						<b style="color:white;">On Sale order Form Click on button "Convert To Po"</b>
				</div>
                                                                
                                	<p>
					<img class="oe_picture oe_screenshot" src="2.png" >
				</p>
                                  <div class="alert alert-success" style="padding:8px;background-color:#1ab2ff;">
					<i class="fa fa-cog" style="color:white;"></i> 
<!--															secon block heading subtitle 1-->
						<b style="color:white;">Click On button "Realted Purchase Order"To check New generated purchase order</b>
				</div>
 
                                	<p>
					<img class="oe_picture oe_screenshot" src="3.png" >
				</p>
                                 <div class="alert alert-success" style="background-color:#1ab2ff;">
					<i class="fa fa-cog" style="color:white;"></i> 
<!--															secon block heading subtitle 1-->
						<b style="color:white;">New Purchase order will Contain Sale Order Reference</b>
				</div>
                                	<p>
					<img class="oe_picture oe_screenshot" src="4.png" >
				</p>
      	
      
<!--																				second block heading subtitle 3-->
	</div>
	</div>
   </div>
</div>
</div>
</section>
<!--							Footer block-->

<section class="container">
    <div class="oe_dark oe_quote" style="height:200px">
        <div class="col-md-12">
                <h1>For issues reagrding this module and any other assistance related to the new Odoo feature, Customization or Odoo Development contact us on virzoteck@gmail.com</h1>
                        
        </div>
    </div>
</section>

